<div class="tabs">
  <a data-tab="mine" href="/compute/" data-i18n="compute.common.tab.mine">Mine</a>
  <a data-tab="jobs" href="/compute/jobs" data-i18n="compute.common.tab.jobs">Buy compute</a>
  <a data-tab="stake" href="/compute/stake" data-i18n="compute.common.tab.stake">Stake</a>
  <a data-tab="claim" href="/compute/claim" data-i18n="compute.common.tab.claims">Claims</a>
  <a data-tab="leaderboard" href="/compute/leaderboard" data-i18n="compute.common.tab.leaderboard">Leaderboard</a>
  <a data-tab="results" href="/compute/results" data-i18n="compute.common.tab.results">Results</a>
</div>
